#intro
  /intro
  .container
    = haml :intro
#value.section
  /value
  .container
    = haml :value
#portfolio.section
  /portfolio
  .container
    = haml :portfolio
#who_we_are.section
  /who are we?
  .container
    = haml :whoweare