%script{:type => "text/javascript", :src  => "js/jquery.pagescroller.lite.js"}
#intro
  /intro
  .container{:id => "intro_container"}
    = haml :intro
#value.section
  /value
  .container{:id => "value_container"}
    = haml :value
#portfolio.section
  /portfolio
  .container{:id => "portfolio_container"}
    = haml :portfolio
#who_we_are.section
  /who are we?
  .container{:id => "whoweare_container"}
    = haml :whoweare