.intro
  /intro
  .container
    = haml :intro
.value
  /value
  .container
    = haml :value
.portfolio
  /portfolio
  .container
    = haml :portfolio
.who_we_are
  /who are we?
  .container
    = haml :whoweare