!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Hello
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
  %body
  hello world