.container{:id => "header-bg"}
  /navbar
  = haml :navbar
#call-to-action
  %h1 We create lasting web experiences
  %h3 A full service boutique web development firm
  %a.btn.btn-primary.btn-large{:href =>"/contact"} Contact Us
  %h6 We wont bite
  %h4 Our arsenal
/= link_to image_tag('')
.row
  .span3
    .well Rails!
  .span3
    .well CSS!
  .span3
    .well Magic!
  .span3
    .well Whoo!
