!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Hello
    %meta{:content => "", :name => "description"}/
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    :css
      navbar {
        padding-bottom: 60px;
      }
        / Le fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %meta{:content => "", :name => "author"}/
  %body
    .contianer
      /navbar
      = haml :navbar
      = yield