.navbar
  .navbar-inner
    %a.brand.pull-right{:href => "#"} FD Designs
    %ul.nav.pull-right
      %li
        %a{:href => "/"} Philosophy
      %li
        %a{:href => "/"} Portfolio
      %li
        %a{:href => "/"} Who we are