.navbar
  .navbar-inner
    %a.brand.pull-right{:href => "#"} FD Designs
    %ul.nav.pull-right
      %li
        %a{:href => "/#value"} Philosophy
      %li
        %a{:href => "/#portfolio"} Portfolio
      %li
        %a{:href => "/#who_we_are"} Who we are