%center
  %h1 Our portfolio
#showcase
  %center
    %br
    %br
    %img(src="../img/showcase.png")
    %p
      %a.btn.btn-large{"data-toggle" => "lightbox", :href => "#demoLightboxCarousel", :id => "caroselbutton"} Check it out...
    #demoLightboxCarousel.lightbox.hide.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", :style => "z-index: 1200;  outline-width: 0; width: 90%;"}
      .lightbox-content
        #myCarousel.carousel.slide
          / Carousel items
          .carousel-inner
            .active.item
              %img(src="../img/fantasydebate.png")
              .carousel-caption
                %h4
                  %a{:href => "http://www.FantasyDebate.com"} www.FantasyDebate.com
                %p FantasyDebate is a custom built website that provides rankings for thousands of high school debaters nationwide. We created data-mining programs, the ranking algorithms, and the website.
            .item
              %img(src="../img/stalltalk.png")
              .carousel-caption
                %h4
                  %a{:href => "http://stalltalk.info"} Stalltalk.info
                %p StallTalk is an anonymous hyperlocal micro-blogging platform centered around toilets and is the subject of
                %a{:href => "http://altchi.org/2013/login.php?action=showsubmission&id=88"} ongoing research.
            .item
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "600px", :src => "http://www.youtube.com/embed/eH5EVwLcgGo", :width => "100%"}
              .carousel-caption
                %h4 Project Stagecoach
                %p We helped collaborate as part of a larger team on Stagecoach, a project management platform for film production (no longer active).
            .item
              %img(src="../img/lb.png")
              .carousel-caption
                %h4 License Buddy
                %p License Buddy helps CPA's and other professionals keep track of their continuing education requirements.
          / Carousel nav
          %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
          %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
.row
  %center
    .mobileweb
      %img(src="../img/web-mobile-tablet.png")
.row
  %center
    .row
      %a.btn.btn-primary.btn-large.next{:href =>"/#who_we_are"} Who we are
      .whowearebuttonarrow
        %img(src="../img/who-we-are-arrow.png")