%center
  %h1 Our portfolio
#showcase
  %center
    %img(src="../img/showcase-filler.jpg")
.row
  .offset5 web | mobile | tablet
.row
  .span5
  .span2
    %a.btn.btn-primary.btn-large{:href =>"/#who_we_are"} Who we are
  .span2
    #whowearebuttonarrow
      %img(src="../img/who-we-are-arrow.png")