%center
  %h1 Our portfolio
#showcase
  %center
    %img(src="../img/showcase-filler.jpg")
.row
  %center
    .mobileweb
      %img(src="../img/web-mobile-tablet.png")
.row
  %center
    .row
      %a.btn.btn-primary.btn-large.next{:href =>"/#who_we_are"} Who we are
      .whowearebuttonarrow
        %img(src="../img/who-we-are-arrow.png")