#value-header
  %center
    %h1 We focus on delivering value
    %h6 FD Designs is a web development firm with a simple philosophy: <br> We accept one client at a time, ensuring we produce the perfect product before accepting a new client.
.row
  .span12
    %img(src="../img/value-action-doodles.png")
.row
  .span3
    %center
      %p First, we consult with you <br> to confirm the project vision.
  .span1
  .span3
    %center
      %p We draft an initial design, <br> and iterate until you give us the OK.
  .span1
  .span3
    %center
      %p We launch your product <br> and take a much needed nap.
.row
  %center
    %a.btn.btn-primary.btn-large.next{:href =>"/#portfolio"} View our portfolio
.row
  %center
    %img(src="../img/value-arrow.png")