#value-header
  %h1 We focus on delivering value
  %h5 FD Designs is a web development firm with a simple philosophy. We accept one client at a time, ensuring we produce the perfect before accepting a new client.
.row
  .span3 hi
  .span1 hi
  .span3 hi
  .span1 hi
  .span3 hi
.row
  .offset5
    .btn.btn-primary.btn-large View our portfolio
.row
  .offset5
    image