.container
  %center
    %h1 Who we are
    .spacer
      .row
        %img.img-polaroid.pull-left{:src => "../img/jon.jpg", :width => "150px", :height => "150px"}
        %blockquote.span8.quote
          %p Jonathan Friedman is an entrepreneur and programmer who has dabbled in web development for 5 years. He recently published an article pertaining to his HCI research. Given the choice, Jon would pick soup over salad, Xbox over Playstation, and sun over snow. With luck, he will finish a joint BA/MS degree from Northwestern University in computer science around June 2013.
    .spacer
      .row
        %img.img-polaroid.pull-left{:src => "../img/daniel1.png", :width => "150px", :style => "height: 150px;" }
        %blockquote.span8.quote
          %p Daniel Daks focuses on UX design and development, as well as digital marketing. He is currently pursuing a BA in philosophy from Northwestern University.