#intro {background-image:url('../img/intro-bg.png');
                background-repeat: repeat;}
#nav-links{
    padding-top: 10px;
}
#top-purple-line{
    background-color: #3c3251;
    margin: 0px !important;
    height: 7px;
    border: none !important;
}

h4 small {
  font-size: 10px;
}

/*#value {background-image:url('../img/value-bg.jpg');
                background-repeat: repeat;}*/