#intro {background-image:url('../img/intro-bg.png');
                background-repeat: repeat;}
#value {
    background-image:url('../img/brick_patch.jpg');
}

#portfolio {
    background-image: url('../img/nonwinding_brick_patch.jpg');
}
#nav-links{
    padding-top: 10px;
}
#top-purple-line{
    background-color: #3c3251;
    margin: 0px !important;
    height: 7px;
    border: none !important;
}

#bottom-purple-line{
    background-color: #3c3251;
    margin: 0px !important;
    height: 60px;
    border: none !important;
}
h4 small {
  font-size: 10px;
}

/*#value {background-image:url('../img/value-bg.jpg');
                background-repeat: repeat;}*/

#whowearebuttonarrow {
    margin-left: -50px;
    margin-top: 10px;
}

#footertext {
    margin-top: -40px;
    margin-left: 50px;
    color: white;
    font-weight: normal;
    font-size: 13px;
}

.img40{
    margin-top: 40px;
}

.img20{
    margin-top: 20px;
}

#dot-dot-dot{
    margin-top: 40px;
    margin-bottom: 40px;
}

#value-header{
    margin-top: 40px;
}